BACKEND_URL=http://backend:8080
DATABASE_ADDRESS=database
DATABASE_NAME=terrace-heating
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_USERNAME=
EMQX_DASHBOARD__DEFAULT_PASSWORD=
EMQX_DASHBOARD__DEFAULT_USERNAME=
HEAT_PUMP_IP=
HEAT_PUMP_PORT=502
MODPOLL_RATE_S=15
MQTT_BROKER_ADDRESS=mqtt-broker
MQTT_BROKER_PORT=1883
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
