EMQX_DASHBOARD__DEFAULT_PASSWORD=
EMQX_DASHBOARD__DEFAULT_USERNAME=
DATABASE_PASSWORD=
DATABASE_URL=
DATABASE_USERNAME=
HEAT_PUMP_IP=
HEAT_PUMP_PORT=
MODPOLL_RATE_S=15
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
